matplotlib==3.8.4
pandas==2.2.2
plotly==5.22.0
streamlit==1.37.0
yfinance==0.2.43
prophet==1.1.5
xgboost==2.1.1
statsforecast==2.0.0
statsmodels==0.14.2
seaborn==0.13.2
yfinance==0.2.43
ipython==8.26.0
